@charset "iso-8859-1";
/* CSS Document */

/* general */

body{margin: 35px;background: #fff;font: 12px Arial, Helvetica, sans-serif;color: #555;line-height: 16px;}
h1, h2, h3, p{margin: 0;line-height: normal;}
h1{font: bold 20px Verdana, Geneva, Arial, Helvetica, sans-serif;color: #3d7a00;}
h2{font: normal 16px Verdana, Geneva, Arial, Helvetica, sans-serif;color: #46607e;}
h3{padding-bottom: 4px;border-bottom: 1px solid #777;font-size: 15px;}
a{padding: 0 4px 0 4px;font-size: 12px;color: #0066dd;text-decoration: underline;}
a:hover{color: #800080;}
ul{font-weight: bold;}
li{line-height: 24px;}
small{line-height: 12px;font-size: 11px;font-weight: bold;}
label{display: block;margin-top: 14px;}
form{font-size: 13px;color: #333;}
input,textarea{margin: 6px 14px 0 0;padding: 4px;background: #fff;border: 1px solid #777;font: 12px Courier New;color: #333;}
textarea{height: 150px;max-height: 150px;overflow: hidden;}

/* elements */

.header{min-width: 605px;padding-right: 5px;background: url(../../images/line.png) bottom repeat-x;font-style: italic;color: #787a92;}
.copyright{padding-right: 5px;font-style: italic;color: #616377;}
.line{height: 2px;background: #e1e1e1;}
.items{margin-top: 8px;padding: 6px;background: #46607e;color: #fff;}
.items img{margin: 0 2px 0 2px;}
.cover{position: fixed;z-index: 999;left: 0;top: 0;background: url(../../images/alpha.png);filter: alpha(opacity=0);-moz-opacity: 0;KhtmlOpacity: 0;opacity: 0;}
.box{position: fixed;z-index: 1000;left: 0;top: 0;width: 450px;padding: 24px;background: #fff;border: 1px solid #777;filter: alpha(opacity=0);-moz-opacity: 0;KhtmlOpacity: 0;opacity: 0;}

.button{margin-left: 4px;height: 18px;padding-top: 4px;color: #fff;}
.button:hover{color: #bcde78;}

/* extras */

.enphasis{font-size: 18px;font-weight: bold;color: #de4591;}
.colored{font-weight: bold;text-decoration: underline;color: #c6243f;}
.variant{color: #cd2944;}

.field1{width:300px;}
.field2{width:425px;}
.field3{width:750px;}
.field4{width:440px;max-width:440px;}
.field5{width:587px;max-width:587px;}
.field6{width:874px;max-width:874px;}

#continue{width: 76px;background: #5d685b;}
#back, #cancel{width: 52px;background: #9c3030;}
#insert, #update{width: 68px;background: #30465c;}
#insert{margin-right: 14px;}
